.bike-types__title {
    margin: 0;
    @include font (55px, $textBolder, 700, 60px);
    letter-spacing: -0.5px;
    text-align: left;
}

@media screen and (max-width:630px) {
  .bike-types__title {
    @include font (32px, $textBolder, 700, 40px);
    width: 284px;
  }
}
