.bike-models__menu-link {
  text-decoration: none;
  @include font (18px, 400, 28px);
  color: $textLighter;
  margin-left: 40px;
  opacity: 0.7;
  transition: opacity 1s ease;
  cursor: pointer;
}

.bike-models__menu-link:hover {
  opacity: 0.6;
}

.bike-models__menu-link.theme-selector_black {
  color: $secondaryTextLighter;
}

@media screen and (max-width:630px) {
  .bike-models__menu-link {
    @include font (11px, 600, 14px);
    margin-left: 0;
  }
}
