.ride__title {
  @include font(34px, $textBolder, 600, 44px);
  letter-spacing: -0.5px;
  margin: 0;
}

@media screen and (max-width:1170px) {
  .ride__title {
    @include font(26px, $textBolder, 500, 36px);
  }
}

@media screen and (max-width:980px) {
  .ride__title {
    @include font(24px, $textBolder, 500, 34px);
  }
}

@media screen and (max-width:720px) {
  .ride__title {
    @include font(18px, $textBolder, 500, 28px);
    max-width: 284px;
  }
}

@media screen and (max-width:630px) {
  .ride__title {
    margin-top: 40px;
    @include font(23px, $textBolder, 600, 29px);
    max-width: 284px;
  }
}

