.footer__subscription {
  max-width: 229px;
  margin: 0 0 50px 0;
  @include font(24px, 600, 32px);
  color: $textBolder;
}

.footer__subscription.theme-selector_black {
  color: $secondaryTextBolder;
}

@media screen and (max-width: 630px) {
  .footer__subscription {
    width: 284px;
    margin: 0 0 40px 0;
  }
}
