.bike-types__right-mobbutton {
  display: none;

  }

  @media screen and (max-width:800px) {
    .bike-types__right-mobbutton {
      display: flex;
      object-fit: cover;
    width: 24px;
    height: 24px;
    }
  }

