.footer {
  width: 100%;
  min-height: 424px;
  background: $backgroundFooter;
  @include flex(row, space-between);
}

.footer.theme-selector_black {
  background: $backgroungFooterSecondary;
}

@media screen and (max-width: 630px) {
  .footer {
    min-height: 358px;
  }
}
