$mobile: 320px;
$desktop: 1440px;
$backgroundPrimary: #f4f4f4;
$backgroundSecondary: #333333;
$backgroundFooter: #EFEFEF;
$backgroungFooterSecondary: #2F2F2F;
$textBolder: #151515;
$textLighter: #222222;
$secondaryTextBolder: #FFFFFF;
$secondaryTextLighter: #E5E5E5;
$shadowMain: 0 0 220px rgba(0, 0, 0, 0.04);


