.training__services {
 margin: 178px 0 0 0;
}


@media screen and (max-width:1380px) {
  .training__services {
    margin: 128px 0 0 0;
  }
}

@media screen and (max-width:1290px) {
  .training__services {
    margin: 108px 0 0 0;
  }
}

@media screen and (max-width:1210px) {
  .training__services {
    margin: 40px 0 0 0;
  }
}

@media screen and (max-width:720px) {
  .training__services {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 630px) {
  .training__services {
    margin: 40px 0 0 0;
  }
}
