.content {
  padding-left: 120px;
}

@media screen and (max-width:1215px) {
  .content {
    padding-left: 90px;
  }
}
@media screen and (max-width:890px) {
  .content {
    padding-left: 30px;
  }
}

@media screen and (max-width:630px) {
  .content {
    padding: 0 18px 0px;
  }
}
