@charset "UTF-8";
@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/swiper-bundle.css");
.page {
  max-width: 1440px;
  min-width: 320px;
  background-color: #f4f4f4;
  margin: auto;
  position: relative;
}

.page.theme-selector_black {
  background-color: #333333;
}

.body_locked {
  overflow: hidden;
}

.body {
  background-color: #f4f4f4;
}

.body.theme-selector_black {
  background-color: #333333;
}

.header {
  min-height: 74px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 56;
  background-color: #f4f4f4;
}

.header.theme-selector_black {
  background-color: #333333;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 120px;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 630px) {
  .header__menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #f4f4f4;
    padding: 70px 0 0 0;
  }

  .header__menu.theme-selector_black {
    background-color: #333333;
  }
}
.header__link {
  margin-left: 34px;
  text-decoration: none;
  color: #151515;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  transition: opacity 1s ease;
}

.header__link:hover {
  opacity: 0.75;
}

.header__link.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 630px) {
  .header__link {
    margin-left: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
.header__burger {
  display: none;
}

@media screen and (max-width: 630px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    margin: 0 18px 0 0;
    z-index: 51;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.theme-selector_black:before, .header__burger.theme-selector_black:after {
    background-color: white;
  }
}
.header__burger-span {
  position: absolute;
  background-color: black;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
}

.header__burger-span.theme-selector_black {
  background-color: #f4f4f4;
}

@media screen and (max-width: 630px) {
  .header__burger_active:before {
    transform: rotate(45deg);
    top: 9.5px;
  }

  .header__burger_active:after {
    transform: rotate(-45deg);
    bottom: 9.5px;
  }
}
@media screen and (max-width: 630px) {
  .header__link-wrapper {
    margin: 0 auto 32px;
    text-align: center;
  }
}
.header__burger-span_active {
  transform: scale(0);
}

.header__menu_active {
  top: 0;
}

.header__theme-switcher {
  display: none;
}

@media screen and (max-width: 630px) {
  .header__theme-switcher {
    display: block;
  }
}
.content {
  padding-left: 120px;
  padding-top: 74px;
  z-index: 2;
}

@media screen and (max-width: 1215px) {
  .content {
    padding-left: 90px;
  }
}
@media screen and (max-width: 890px) {
  .content {
    padding-left: 30px;
  }
}
@media screen and (max-width: 630px) {
  .content {
    padding: 74px 18px 0px;
  }
}
.hero {
  max-width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  gap: 50px 17%;
  grid-template-areas: "title img" "descr img" "btn img" "bname img" ". img";
}

@media screen and (max-width: 1360px) {
  .hero {
    gap: 50px 5%;
  }
}
@media screen and (max-width: 890px) {
  .hero {
    gap: 30px 1%;
  }
}
@media screen and (max-width: 630px) {
  .hero {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content 1fr;
    gap: 40px;
    margin: 0;
    padding: 0;
    grid-template-areas: "title" "img" "descr" "btn" "bname";
  }
}
.hero__bike-name {
  min-width: 194px;
  grid-area: bname;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  position: relative;
  margin: 120px 0 0 0;
}

.hero__bike-name.theme-selector_black {
  color: #FFFFFF;
}

.hero__bike-name::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 132px;
  height: 2px;
  background-color: #D7D4D4;
  margin-left: 30px;
}

@media screen and (max-width: 1080px) {
  .hero__bike-name {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 1080px) {
  .hero__bike-name::after {
    width: 70px;
    height: 2px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 980px) {
  .hero__bike-name {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 820px) {
  .hero__bike-name {
    margin: 20px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 720px) {
  .hero__bike-name {
    margin: 20px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .hero__bike-name {
    display: none;
  }
}
.hero__button {
  grid-area: btn;
  width: 180px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  border: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero__button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #319e75;
  transition: all 0.4s;
  border-radius: 4px;
  z-index: -1;
}

.hero__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24b47e;
  border-radius: 4px;
  z-index: -2;
}

.hero__button:hover {
  color: white;
}

.hero__button:hover::before {
  width: 100%;
}

@media screen and (max-width: 820px) {
  .hero__button {
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
  }
}
@media screen and (max-width: 630px) {
  .hero__button {
    width: 284px;
    height: 46px;
    font-size: 13px;
    line-height: 44px;
  }
}
.hero__description {
  grid-area: descr;
  max-width: 460px;
  min-width: 284px;
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
}

.hero__description.theme-selector_black {
  color: #E5E5E5;
}

@media screen and (max-width: 980px) {
  .hero__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 820px) {
  .hero__description {
    margin: 15px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 720px) {
  .hero__description {
    max-width: 300px;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .hero__description {
    max-width: 284px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
.hero__image {
  width: 610px;
  height: 836px;
  grid-area: img;
  background: url(../images/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1215px) {
  .hero__image {
    width: 520px;
    height: 710px;
  }
}
@media screen and (max-width: 1080px) {
  .hero__image {
    width: 448px;
    height: 619px;
  }
}
@media screen and (max-width: 890px) {
  .hero__image {
    width: 400px;
    height: 555px;
  }
}
@media screen and (max-width: 820px) {
  .hero__image {
    width: 380px;
    height: 518px;
  }
}
@media screen and (max-width: 720px) {
  .hero__image {
    width: 300px;
    height: 418px;
  }
}
@media screen and (max-width: 630px) {
  .hero__image {
    width: 254px;
    height: 348px;
    margin-left: 25px;
  }
}
.hero__title {
  grid-area: title;
  max-width: 300px;
  min-width: 284px;
  margin: 60px 0 0 0;
  padding: 0;
  color: #151515;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
}

.hero__title.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 980px) {
  .hero__title {
    margin: 30px 0 0 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 820px) {
  .hero__title {
    margin: 20px 0 0 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 720px) {
  .hero__title {
    margin: 10px 0 0 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .hero__title {
    max-width: 284px;
    margin: 40px 0 0 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    letter-spacing: -0.5px;
  }
}
.hero__bike-image {
  width: 440px;
  height: 300px;
  background-image: url("../images/smallbike.png");
  background-position: center;
  background-size: 340px 260px;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  background-repeat: no-repeat;
  margin-top: 370px;
  margin-bottom: 79px;
  margin-left: -200px;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1340px) {
  .hero__bike-image {
    margin-left: -100px;
    width: 396px;
    height: 270px;
    background-size: 306px 234px;
  }
}
@media screen and (max-width: 1080px) {
  .hero__bike-image {
    margin-left: -70px;
    margin-top: 350px;
    margin-bottom: 10px;
    width: 320px;
    height: 219px;
    background-size: 247px 189px;
  }
}
@media screen and (max-width: 890px) {
  .hero__bike-image {
    margin-left: -50px;
    margin-top: 320px;
    margin-bottom: 10px;
    width: 256px;
    height: 178px;
    background-size: 198px 149px;
  }
}
@media screen and (max-width: 720px) {
  .hero__bike-image {
    margin-left: -40px;
    margin-top: 240px;
    margin-bottom: 10px;
    width: 200px;
    height: 144px;
    background-size: 160px 130px;
  }
}
@media screen and (max-width: 630px) {
  .hero__bike-image {
    margin-left: -30px;
    margin-top: 150px;
    margin-bottom: 30px;
    width: 234px;
    height: 160px;
    background-size: 180px 138px;
  }
}
.ride {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 120px 60px 0;
}

@media screen and (max-width: 1220px) {
  .ride {
    padding: 60px 60px 60px 0;
  }
}
@media screen and (max-width: 890px) {
  .ride {
    padding: 30px 30px 30px 0;
  }
}
@media screen and (max-width: 630px) {
  .ride {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 40px;
  }
}
.ride__quote-container {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 80px;
}

@media screen and (max-width: 980px) {
  .ride__quote-container {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 630px) {
  .ride__quote-container {
    margin: 0 0 0 0;
  }
}
.ride__author-container {
  max-width: 130px;
  margin-bottom: 10px;
}

.ride__author-info {
  margin: 6px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #222222;
  opacity: 0.7;
}

.ride__author-info.theme-selector_black {
  color: #E5E5E5;
}

@media screen and (max-width: 720px) {
  .ride__author-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .ride__author-info {
    margin: 4px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }

  .ride__author-info::after {
    content: "";
    position: absolute;
    left: 0;
    width: 284px;
    height: 0px;
    border: 1px solid #e3e3e3;
    right: 0;
    margin: 80px auto 0;
    display: block;
  }
}
.ride__picture {
  max-width: 650px;
  max-height: 460px;
  position: relative;
}

@media screen and (max-width: 1370px) {
  .ride__picture {
    max-width: 585px;
    max-height: 414px;
  }
}
@media screen and (max-width: 1300px) {
  .ride__picture {
    max-width: 497px;
    max-height: 352px;
  }
}
@media screen and (max-width: 1020px) {
  .ride__picture {
    max-width: 422px;
    max-height: 300px;
  }
}
@media screen and (max-width: 720px) {
  .ride__picture {
    max-width: 338px;
    max-height: 240px;
  }
}
@media screen and (max-width: 640px) {
  .ride__picture {
    max-width: 284px;
    max-height: 204px;
    margin-top: 60px;
  }
}
.ride__quote-author {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
}

.ride__quote-author.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .ride__quote-author {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .ride__quote-author {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
.ride__title {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  letter-spacing: -0.5px;
  margin: 0;
}

.ride__title.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 1170px) {
  .ride__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 980px) {
  .ride__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 720px) {
  .ride__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    max-width: 284px;
  }
}
@media screen and (max-width: 630px) {
  .ride__title {
    margin-top: 40px;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    max-width: 284px;
  }
}
@media screen and (max-width: 630px) {
  .ride__picture-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    width: 284px;
    height: 0px;
    border: 1px solid #E3E3E3;
    right: 0;
    margin: 40px auto 0;
    display: block;
  }
}
.training {
  max-width: 100%;
  padding: 130px 120px 120px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 50px 160px;
  grid-template-areas: "title picture" "services picture";
}

@media screen and (max-width: 1220px) {
  .training {
    gap: 50px 80px;
    padding: 80px 60px 90px 0;
  }
}
@media screen and (max-width: 1051px) {
  .training {
    gap: 40px 40px;
  }
}
@media screen and (max-width: 820px) {
  .training {
    gap: 35px 40px;
    padding: 60px 30px 60px 0;
  }
}
@media screen and (max-width: 720px) {
  .training {
    gap: 25px 30px;
  }
}
@media screen and (max-width: 630px) {
  .training {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 40px;
    margin: 0;
    padding: 110px 0 60px;
    grid-template-areas: "title" "picture" "services";
  }
}
.training__picture {
  grid-area: picture;
  background-image: url(../images/road.jpg);
  width: 580px;
  height: 460px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1220px) {
  .training__picture {
    width: 493px;
    height: 391px;
  }
}
@media screen and (max-width: 1050px) {
  .training__picture {
    width: 440px;
    height: 350px;
  }
}
@media screen and (max-width: 760px) {
  .training__picture {
    width: 374px;
    height: 297px;
  }
}
@media screen and (max-width: 720px) {
  .training__picture {
    width: 318px;
    height: 252px;
  }
}
@media screen and (max-width: 720px) {
  .training__picture {
    width: 284px;
    height: 225px;
  }
}
.training__service {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  margin-right: 30px;
  text-decoration: none;
  transition: opacity 1s ease;
}

.training__service:hover {
  opacity: 0.6;
}

.training__service.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 915px) {
  .training__service {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
.training__services-description {
  max-width: 460px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #222222;
  grid-area: services;
  margin: 0;
  opacity: 0.7;
}

.training__services-description.theme-selector_black {
  color: #E5E5E5;
}

@media screen and (max-width: 945px) {
  .training__services-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 680px) {
  .training__services-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .training__services-description {
    max-width: 284px;
  }
}
.training__services {
  margin: 178px 0 0 0;
}

@media screen and (max-width: 1380px) {
  .training__services {
    margin: 128px 0 0 0;
  }
}
@media screen and (max-width: 1290px) {
  .training__services {
    margin: 108px 0 0 0;
  }
}
@media screen and (max-width: 1210px) {
  .training__services {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 720px) {
  .training__services {
    margin: 15px 0 0 0;
  }
}
@media screen and (max-width: 630px) {
  .training__services {
    margin: 40px 0 0 0;
  }
}
.training__title {
  grid-area: title;
  max-width: 460px;
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  letter-spacing: -0.5px;
}

.training__title.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 1220px) {
  .training__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 1050px) {
  .training__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 720px) {
  .training__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
@media screen and (max-width: 630px) {
  .training__title {
    min-width: 284px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    text-align: left;
  }

  .training__title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 284px;
    height: 0px;
    border: 1px solid #E3E3E3;
    right: 0;
    margin: -40px auto 0;
    display: block;
  }
}
.bike-types {
  position: relative;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

@media screen and (max-width: 630px) {
  .bike-types {
    padding: 70px 0 40px;
  }
}
.bike-types__button-left {
  cursor: pointer;
}

.bike-types__button-left_size_desktop {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  background-image: url("../../images/button-left.svg");
  background-repeat: no-repeat;
  display: block;
}

.bike-types__button-left_size_desktop.theme-selector_black {
  background-image: url("../../images/button-left-black.svg");
}

.bike-types__button-left_size_mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .bike-types__button-left_size_mobile {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../images/button-left-mob2.svg");
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .bike-types__button-left_size_mobile.theme-selector_black {
    background: url("../../images/button-left-black-mob.svg");
  }
}
.bike-types__button-right_size_desktop {
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-image: url("../../images/button-right.svg");
  background-repeat: no-repeat;
  display: block;
}

.bike-types__button-right_size_desktop.theme-selector_black {
  background-image: url("../../images/button-right-black.svg");
}

.bike-types__button-right_size_mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .bike-types__button-right_size_mobile {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../images/button-right-mob.svg");
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .bike-types__button-right_size_mobile.theme-selector_black {
    background: url("../../images/button-right-black-mob.svg");
  }
}
.bike-types__button-right {
  cursor: pointer;
}

.bike-types__button {
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all 0.5s ease;
  background-color: transparent;
}

.bike-types__button:hover {
  opacity: 0.7;
}

.bike-types__image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 630px) {
  .bike-types__image-container {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    order: 2;
  }
}
.bike-types__image {
  width: 49%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .bike-types__image {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .bike-types__image {
    width: 284px;
    height: 175px;
  }
}
@media screen and (max-width: 800px) {
  .bike-types__image_hidden {
    display: none;
  }
}
.bike-types__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 630px) {
  .bike-types__slide {
    align-items: center;
  }
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-next {
  top: 0;
  right: 20px;
  left: auto;
}

@media screen and (max-width: 630px) {
  .swiper-button-next {
    right: 125px;
  }
}
@media screen and (max-width: 450px) {
  .swiper-button-next {
    right: 75px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-button-next {
    right: 0;
  }
}
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  top: 0;
  right: 52px;
  left: auto;
}

@media screen and (max-width: 630px) {
  .swiper-button-prev {
    right: 160px;
  }
}
@media screen and (max-width: 450px) {
  .swiper-button-prev {
    right: 110px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-button-prev {
    right: 35px;
  }
}
.bike-types__swiper {
  width: 100%;
}

.bike-types__text {
  max-width: 460px;
  margin: 45px 0 80px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #222222;
  text-align: left;
  opacity: 0.7;
}

.bike-types__text.theme-selector_black {
  color: #E5E5E5;
}

@media screen and (max-width: 630px) {
  .bike-types__text {
    max-width: 284px;
    margin: 40px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    order: 3;
  }
}
.bike-types__title {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  letter-spacing: -0.5px;
  text-align: left;
}

.bike-types__title.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 630px) {
  .bike-types__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    width: 284px;
  }
}
.bike-types__button-container {
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .bike-types__button-container {
    display: none;
  }
}
.bike-models {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 120px 60px 0;
}

@media screen and (max-width: 1220px) {
  .bike-models {
    padding: 80px 60px 60px 0;
  }
}
@media screen and (max-width: 630px) {
  .bike-models {
    padding: 80px 0 0 0;
    align-items: center;
  }
}
.bike-models__menu-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #222222;
  margin-left: 40px;
  opacity: 0.7;
  transition: opacity 1s ease;
  cursor: pointer;
}

.bike-models__menu-link:hover {
  opacity: 0.6;
}

.bike-models__menu-link.theme-selector_black {
  color: #E5E5E5;
}

@media screen and (max-width: 630px) {
  .bike-models__menu-link {
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    margin-left: 0;
  }
}
.bike-models__menu-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 10px;
}

@media screen and (max-width: 630px) {
  .bike-models__menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    align-items: flex-start;
    display: none;
  }
}
.bike-models__title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 630px) {
  .bike-models__title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 284px;
    align-items: flex-start;
  }

  .bike-models__title-container::before {
    content: "";
    position: absolute;
    left: 0;
    width: 284px;
    height: 0px;
    border: 1px solid #E3E3E3;
    right: 0;
    margin: -40px auto 0;
    display: block;
  }
}
.bike-models__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  letter-spacing: -0.5px;
  margin: 0;
}

.bike-models__title.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .bike-models__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
  }
}
.bike-models__swiper {
  width: 100%;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.bike-models__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 630px) {
  .bike-models__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.bike-models__image {
  width: 89.47%;
  object-fit: contain;
  margin: 20px 20px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .bike-models__image {
    margin: 20px 20px;
  }
}
@media screen and (max-width: 630px) {
  .bike-models__image {
    width: 254px;
    margin: 14px 14px;
  }
}
.bike-models__image-container {
  width: 95%;
  box-shadow: 0 0 220px rgba(0, 0, 0, 0.04);
  margin-top: 120px;
  background: #F4F4F4;
  border-radius: 20px;
}

@media screen and (max-width: 630px) {
  .bike-models__image-container {
    margin-top: 0;
    width: 284px;
  }
}
.bike-models__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  margin-top: 20px;
}

.bike-models__name.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 630px) {
  .bike-models__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    margin: -20px 0 16px;
    text-align: center;
    z-index: 300;
  }

  .bike-models__name.theme-selector_black {
    color: #151515;
  }
}
.bike-models__menu-link_active {
  color: #151515;
  opacity: 1;
  font-weight: 600;
  transition: opacity 1s ease;
}

.bike-models__menu-link_active:hover {
  opacity: 0.75;
}

.bike-models__swiper_active {
  visibility: visible;
  position: relative;
}

@media screen and (max-width: 630px) {
  .bike-models__menu {
    display: none;
  }
}
.bike-models__dropdown {
  display: none;
}

@media screen and (max-width: 630px) {
  .bike-models__dropdown {
    display: block;
    margin: 40px 0 20px;
  }
}
.bike-models__dropdown-title {
  width: 114px;
  height: 30px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  padding-left: 12px;
}

.bike-models__dropdown-title.theme-selector_black {
  color: #FFFFFF;
}

.bike-models__dropdown-title::after {
  content: "⮟";
  width: 4.5px;
  height: 10px;
  margin-top: 0;
  margin-left: 42px;
  margin-right: 5px;
}

@media screen and (max-width: 630px) {
  .bike-models__menu-links_opened {
    display: block;
  }
}
.bike-models__pagination {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #151515;
}

.swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #222222;
}

.bike-models__pagination.theme-selector_black .swiper-pagination-bullet {
  background-color: #FFFFFF;
}

.bike-models__pagination-container {
  width: 150px;
}

.footer {
  width: 100%;
  min-height: 424px;
  background: #EFEFEF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer.theme-selector_black {
  background: #2F2F2F;
}

@media screen and (max-width: 630px) {
  .footer {
    min-height: 358px;
  }
}
.footer__subscription-container {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px 0 0 120px;
}

@media screen and (max-width: 630px) {
  .footer__subscription-container {
    max-width: 284px;
    margin: 60px auto 0;
  }
}
.footer__subscription {
  max-width: 229px;
  margin: 0 0 50px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #151515;
}

.footer__subscription.theme-selector_black {
  color: #FFFFFF;
}

@media screen and (max-width: 630px) {
  .footer__subscription {
    width: 284px;
    margin: 0 0 40px 0;
  }
}
.footer__copyright {
  margin: 100px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: #CFCFCF;
}

.footer__copyright.theme-selector_black {
  color: #565656;
}

.subscription-form {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 630px) {
  .subscription-form {
    width: 284px;
  }
}
.subscription-form__button {
  border: none;
  background-color: #EFEFEF;
  color: #151515;
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  margin-right: 11px;
  opacity: 0;
  cursor: pointer;
}

.subscription-form__button.theme-selector_black {
  color: #FFFFFF;
  background-color: #2F2F2F;
}

.subscription-form__email {
  border: none;
  background-color: #EFEFEF;
  color: #222222;
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
}

.subscription-form__email.theme-selector_black {
  color: #FFFFFF;
  background-color: #2F2F2F;
}

.subscription-form__email:hover::-webkit-input-placeholder {
  color: #151515;
}

.theme-selector_black.subscription-form__email:hover::-webkit-input-placeholder {
  color: #FFFFFF;
}

.subscription-form__button_active {
  opacity: 1;
}

.theme-toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 140px;
  height: 40px;
}

.theme-toggler__light {
  width: 28px;
  height: 28px;
  background-image: url("../images/light-theme.svg");
}

.theme-toggler__dark {
  width: 20px;
  height: 20px;
  background-image: url("../images/dark-theme.svg");
  object-fit: cover;
}

.theme-toggler__switch {
  width: 50px;
  height: 25px;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  background: #FFFFFF;
  transition: all 0.1s linear;
  display: inline-block;
  vertical-align: middle;
}

.theme-toggler__switch::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  margin-top: 2px;
  margin-left: 1px;
  border-radius: 1em;
  background: #24B47E;
  box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}

.theme-toggler__checkbox {
  opacity: 0;
  z-index: 1;
  position: absolute;
  right: 190px;
}

.theme-toggler__checkbox:checked + .theme-toggler__switch {
  background: #545454;
}

.theme-toggler__checkbox:checked + .theme-toggler__switch::after {
  transform: translatex(22px);
  transition: transform 0.1s linear;
}

.theme-toggler_place_footer {
  margin: 0 120px 60px 0;
}

@media screen and (max-width: 720px) {
  .theme-toggler_place_footer {
    margin: 0 30px 60px 0;
  }
}
@media screen and (max-width: 630px) {
  .theme-toggler_place_footer {
    display: none;
  }
}
.theme-toggler_place_menu {
  margin: 100px auto 0;
  display: none;
}

@media screen and (max-width: 630px) {
  .theme-toggler_place_menu {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 100px;
  }
}
.footer__logo {
  display: none;
}

@media screen and (max-width: 630px) {
  .footer__logo {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url("../../images/logo__color.svg");
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .footer__logo.theme-selector_black {
    background-image: url("../../images/logo-theme-black.svg");
  }
}/*# sourceMappingURL=style.css.map */