.bike-models__image {
  width: 89.47%;
  object-fit: contain;
  margin: 20px 20px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width:720px) {
  .bike-models__image {
    margin: 20px 20px;
  }
}

@media screen and (max-width:630px) {
  .bike-models__image {
    width: 254px;
    margin: 14px 14px;
  }
}
